BSC_TESTNET_RPC_URL=https://bsc-testnet-dataseed.bnbchain.org
TREASURY=0xYourTreasurySafe3of5
USDT=0xYourUSDTAddress
DEPLOYER_PRIVATE_KEY=0xYourTestnetPrivateKey

NEXT_PUBLIC_CHAIN_ID=97
NEXT_PUBLIC_RPC_URL=https://bsc-testnet-dataseed.bnbchain.org
NEXT_PUBLIC_DDC_TOKEN_ADDRESS=0xYourDDCToken
NEXT_PUBLIC_REWARD_POOL_ADDRESS=0xYourRewardPool
NEXT_PUBLIC_REWARDPOOL_ADDRESS=0xYourRewardPool
NEXT_PUBLIC_PRESALE_ADDRESS=0xYourPresale
NEXT_PUBLIC_USDT_ADDRESS=0xYourUSDTAddress
